/* main */
.wrapper {
    min-height: 920px;
    /* background: url(../images/beyond/opacity_logo.png) no-repeat center; */
    background: none;
}

/* beyond */
.by-main-wrap {
    color: #eee;
    width: 90%;
    height: 90%;
    /* position: fixed; */
    /* top: 5%; */
    /* left: 5%; */
    background-color: rgba(222, 222, 222, .2);
    border: 1px solid #4B8DC1;
}

.by-head{
    font-size: 2em;
    text-align: center;
    margin: 10px auto;
}

.by-footer {
    position: absolute;
    text-align: center;
    bottom: 1%;
    left: 50%;
    margin-left: -25%;
}

.by-tablet{
    width: 300px;
    height: 300px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background: url(../images/beyond/beiban_bg.png) no-repeat center;
    background-size: contain;
    /* z-index: 100; */
}
.by-tablet img {
    margin: 2%;
    width: 96%;
    border-radius: 9% 22% 9% 9%;
}

.by-video-wrap {
    position: relative;
}
/* .by-video-wrap video {
   margin-left: 10%;
} */

.by-video-choice {
    text-align: center;
}
.by-video-choice p {
    font-size: 2em;
    margin: 5px auto;
}

.by-btn-wrap{
    margin: 20px auto;
}
.by-btn-wrap button{
    font-size: 1.5em;
    padding: 5px;
    background-color: #288DFA;
    border: 1px solid rgb(58, 150, 150);
    border-radius: 5px;
}
.by-btn-wrap button+button{
    margin-left: 20px;
}