/* main */

.wrapper {
    min-height: 920px;
    /* background: url(../images/beyond/opacity_logo.png) no-repeat center; */
    background: none;
}

.by-ovflhide {
    overflow: hidden;
}

.by-flex {
    display: flex;
    overflow: hidden;
}

.by-blur {
    filter: blur(3px);
}

.by-opacity {
    opacity: 0;
}

.by-float-l {
    float: left;
}

.by-float-r {
    float: right;
}

.by-w30 {
    width: 30%;
}

.by-w40 {
    width: 40%;
}

.by-w70 {
    width: 70%;
}

.by-w90 {
    width: 90%;
}

.by-h2 {
    font-size: 1.5em;
    text-align: center;
    margin: 20px auto 10px;
}

.by-main-wrap {
    color: #eee;
    height: 90%;
    /* position: fixed; */
    /* top: 5%; */
    /* left: 5%; */
    background-color: rgba(222, 222, 222, .2);
    border: 1px solid #4B8DC1;
}

.by-head {
    font-size: 2em;
    text-align: center;
    margin: 10px auto;
}

.by-footer {
    position: absolute;
    text-align: center;
    bottom: 1%;
    left: 50%;
    margin-left: -25%;
}

.by-tablet-wrap {
    position: relative;
    overflow: hidden;
}

.by-techtablet-wrap {
    display: flex;
    flex-wrap: wrap;
}

.by-techtablet-wrap >div {
    margin-left: 6.666%;
    margin-bottom: 2%;
}

.by-tablet-wrap>div {
    margin: 5px;
}

.by-tablet {
    width: 80%;
    min-height: 300px;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    background: url(../images/beyond/beiban_bg.png) no-repeat center;
    background-size: contain;
    /* z-index: 100; */
}

.by-teacher-tablet {
    position: relative;
    min-height: 100px;
    background: url(../images/beyond/beiban_bg.png) no-repeat center;
    background-size: contain;
    background-position: 0 -1%;
}

.by-teacher-tablet .by-bgmap,
.by-tablet .by-bgmap {
    margin: 2%;
    width: 96%;
    border-radius: 9% 16% 9% 9%;
    clip-path: polygon(0 0, 87% 0, 100% 13%, 100% 100%, 0 100%);
}

.by-tablet .by-basemap {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 335px;
    height: 335px;
    position: absolute;
    top: 197px;
    left: 199px;
    /* margin: 2%; */
    /* border-radius: 9% 16% 9% 9%; */
    /* clip-path: polygon(0 0, 87% 0, 100% 13%, 100% 100%, 0 100%); */
    /* background: url(../images/beyond/falao.png) no-repeat center; */
    /* background-size: contain; */
}

.by-teacher-tablet .by-basemap {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 46.4%;
    height: 45%;
    position: absolute;
    top: 27%;
    left: 27%;
}

.by-teacher-tablet .by-basemap>img {
    height: 21%;
}

.by-basemap .by-map-item {
    flex-basis: 20%;
    /* padding: 5px; */
    border-radius: 5px;
    margin: 2px;
}

.by-video-wrap {
    position: relative;
}

/* .by-video-wrap video {
   margin-left: 10%;
} */

.by-video-choice {
    color: #fff;
    width: 80%;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 50%;
    text-align: center;
    margin-left: -40%;
    background: rgba(33, 33, 33, .8);
}

.by-video-choice p {
    font-size: 2em;
    margin: 5px auto;
    line-height: 200px;
}

.by-btn-wrap {
    margin: 20px auto;
    text-align: center;
}

.by-btn {
    font-size: 1.5em;
    padding: 5px;
    background-color: #288DFA;
    border: 1px solid rgb(58, 150, 150);
    border-radius: 5px;
}

.by-btn-wrap button+button {
    margin-left: 20px;
}

.by-aside {
    width: 120px;
    position: absolute;
    right: 2%;
    top: 5%;
}

.by-aside p {
    font-size: 1.2em;
}

.by-square-box {
    font-size: 2em;
    text-align: center;
}

.by-square-box li+li {
    margin-left: 20px;
}

/* 学生聊天面板 */

.by-stu-panel {
    width: 630px;
    height: 620px;
    position: absolute;
    z-index: 999;
    right: -631px;
    margin: 0;
    transition: right .8s cubic-bezier(.56, 1.24, .78, 1.11)
}